<% if resource.present? && resource.errors.any? %>
  <div class="w-full sm:rounded-lg sm:shadow-sm p-4 sm:mt-8 sm:mb-4 bg-red-100">
    <div class="flex flex-col">
      <h3 class="text-sm font-medium red">
        <%= I18n.t "errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase %>
      </h3>

      <div class="text-sm flex-1 md:flex md:justify-between">
        <%= content_tag(:ul, role: "list", class: "list-disc space-y-1 mt-2 pl-5") do %>
          <% resource.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
