<footer class="bg-white py-6">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="border-t-2 border-dashed border-gray-500 mx-auto max-w-5xl md:flex md:items-center md:justify-between">
    <div class="flex justify-center space-x-6 md:order-2">
      <!-- TODO: Add social media icons here -->
    </div>
    <div class="pt-4 md:order-1 flex flex-col space-y-2">
      <% if display_address? %>
        <p class="text-base text-gray-500">
          <%= address %>
        </p>
      <% end %>

      <% if display_copyright? %>
        <p class="text-base text-gray-500">
          <%= copyright %>
        </p>
      <% end %>
    </div>
  </div>
</footer>