<footer class="bg-gray-800" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl py-12">
    <!-- TODO: Implement footer widgets
    -->
    <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">
        <!-- TODO: Add social media icons -->
      </div>
      <p class="mt-8 text-base text-gray-400 md:order-1 md:mt-0">
        <%= message %>
      </p>
    </div>
  </div>
</footer>
