<footer class="bg-white p-12" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl py-12">
    <div class="mt-8 border-t-2 border-gray-200 pt-4 md:flex md:items-center md:justify-between">
      <% if display_address? %>
        <p class="text-base text-gray-500 md:order-2 md:mt-0">
          <%= address %>
        </p>
      <% end %>

      <% if display_copyright? %>
        <p class="mt-8 text-base text-gray-500 md:order-1 md:mt-0">
          <%= copyright %>
        </p>
      <% end %>
    </div>
  </div>
</footer>
