<footer class="bg-white">
  <div class="mx-auto max-w-7xl overflow-hidden py-12 px-4 sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex text-lg flex-wrap justify-center" aria-label="Footer">
      <!-- TODO: Add page links here -->
    </nav>
    <div class="mt-8 flex justify-center space-x-6">
      <!-- TODO: Add social media links here -->
    </div>
    <p class="heading mt-8 text-lg text-center text-gray-600">
      <%= message %>
    </p>
  </div>
</footer>